@font-face {
  font-family: "CosiTimes";
  src: url(assets/fonts/CosiTimes-Light.ttf) format("truetype");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width:100%;
    height:100vh;
    background-color:rgb(233, 237, 240);
    overflow-x:hidden;
}


/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ebeded; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #212020; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


#content {
  visibility:hidden;
}

.rectangle {
  border:1px solid black;
  border-radius: 40px;
  width:40vh;
  padding:2vh;
  font-family:arial;
  text-transform:uppercase;
  font-size:1rem;
  font-weight:500;
  float:left;
  left:5%;
  top:5%;
  position:absolute;
}

.logo {
  text-align:center;
  margin-top:7vh;
  font-family: "CosiTimes";
  letter-spacing: 2vh;
  text-transform:uppercase;
  font-size:1.5rem;
  font-weight:900;
  overflow:hidden;
  overflow-x:hidden;
}

.nav {
  margin-top:-3vh;
  position:absolute;
  right:5%;
  display:flex;
  gap:5em;
  font-family:arial;
  text-transform:uppercase;
  font-size:0.9rem;
  font-weight:500;
  letter-spacing: .3vh;
  overflow:hidden;
}

a {
  text-decoration: none;
  color:black;
}

a:hover {
  color:rgb(67, 62, 62);
  font-weight:700;
}

.border-nav {
  border-bottom:1px solid black;
  width:100%;
  height:6vh;
  overflow:hidden;
  overflow-x:hidden;
}

.main-content-container {
  position:absolute;
  width:100%;
  top:98%;
  left:50%;
  transform:translate(-50%, -50%);
}

.denim-h1 {
  text-align:center;
  font-family: "CosiTimes";
  font-weight:100;
  font-size:17vw;
  line-height: 40vh;
  margin-left:-1vw;
}

h2 {
  position:absolute;
  text-align:left;
  font-family: "CosiTimes";
  margin-top:4%;
  font-weight:500;
  font-size:17vh;
  width:30vw;
  line-height: 22vh;
  letter-spacing: .2vh;
}

h3 {
  position:absolute;
  text-align:center;
  font-family: "CosiTimes";
  font-weight:500;
  font-size:12vh;
  width:100%;
  line-height: 15vh;
  letter-spacing: .2vh;
}


.main-content-image {
  width:80%;
  margin-left:10%;
}

.page-2 {
  width:85%;
  height:100vh;
  position:absolute;
  top:270%;
  left:50%;
  transform:translate(-50%, -50%);
}

.main-content-image-2 {
  width:72vh;
  float:right;
  margin-top:2.5%;
}


.page-3 {
  width:100%;
  height:100vh;
  position:absolute;
  top:430%;
  left:50%;
  transform:translate(-50%, -50%);
}

.button {
  width:13vw;
  border:1px solid black;
  color:rgb(0, 0, 0);
  text-align:center;
  padding:4vh;
  font-family:arial;
  text-transform:uppercase;
  font-size:1rem;
  font-weight:300;
  letter-spacing: .5vh;
  border-radius: 10vh;
  position:absolute;
  top:74%;
  left:50%;
  transform:translate(-50%, -50%);
}

.button:hover {
background-color: rgb(209, 209, 209);
transition:.3s;
}

#overlay-1 {
  display:none;
  background-color: black;
  width:100%;
  height:50vh;
  top:0;
  margin-top:-50vh;
  position:fixed;
  z-index:100;
  pointer-events: none;
}

#overlay-2 {
  display:none;
  background-color: black;
  width:100%;
  height:50vh;
  bottom:0;
  margin-bottom:-50vh;
  position:fixed;
  z-index:100;
  pointer-events: none;
}

.content-2 {
  z-index:10000;
  width:100%;
  height:100vh;
}

#arrow {
  display:none;
  z-index:10000;
  width:22vh;
  filter:invert(90);
  left:5%;
  position:absolute;
  bottom:10%;
}

#arrow:hover {
  filter:invert(50)
  brightness(70%);
  transition:0.3;
}

#content-2-image {
  display:none;
  z-index:999;
  opacity:1;
  width:50vh;
  position:absolute;
  margin-left:50%;
  margin-top:-2%;
  }

#about-page {
  display:none;
  z-index:10000;
  margin-left:20%;
  bottom:60%;
  position:absolute;
}

h4 {
  color:rgb(228, 224, 224);
  font-family: "CosiTimes";
  font-weight:100;
  font-size:12vh;
  width:100%;
  line-height: 5vh;
  letter-spacing: .2vh;
}

span {
  color:rgb(228, 224, 224);
  font-weight:100;
  font-size:1rem;
  width:50%;
  margin-top:5vh;
  line-height: 4vh;
  letter-spacing: .2vh;
  font-family:arial;
  position:absolute;
}




@media only screen and (min-width:200px) and (max-width: 1000px) { 

  .rectangle {
    border:1px solid black;
    border-radius: 40px;
    width:10vh;
    padding:2vh;
    font-family:arial;
    text-transform:uppercase;
    font-size:1rem;
    font-weight:500;
    float:left;
    left:5%;
    top:5%;
    position:absolute;
  }
  
  .logo {
    text-align:center;
    margin-top:7vh;
    font-family: "CosiTimes";
    letter-spacing: 1vh;
    text-transform:uppercase;
    font-size:1.5rem;
    font-weight:900;
    overflow:hidden;
    overflow-x:hidden;
    margin-right:40%;
  }
  
  .nav {
    margin-top:-2vh;
    position:absolute;
    right:18%;
    display:flex;
    gap:2em;
    font-family:arial;
    text-transform:uppercase;
    font-size:0.8rem;
    font-weight:500;
    letter-spacing: .3vh;
    overflow:hidden;
  }
  
  .border-nav {
    border-bottom:1px solid black;
    width:100%;
    height:6vh;
    overflow:hidden;
    overflow-x:hidden;
  }
  
  .main-content-container {
    position:absolute;
    top:45%;
    left:50%;
    transform:translate(-50%, -50%);
  }
  
  .denim-h1 {
    text-align:center;
    font-family: "CosiTimes";
    font-weight:100;
    font-size:7rem;
    line-height: 20vh;
    margin-left:-10vw;
  }
  
  h2 {
    position:absolute;
    text-align:left;
    font-family: "CosiTimes";
    margin-top:5%;
    font-weight:500;
    font-size:5rem;
    width:30vw;
    line-height: 8vh;
    letter-spacing: .2vh;
  }
  
  h3 {
    position:absolute;
    text-align:center;
    font-family: "CosiTimes";
    font-weight:500;
    font-size:4rem;
    width:100%;
    line-height: 8vh;
    letter-spacing: .2vh;
  }
  

  .main-content-image {
    width:40vh;
  }
  
  .page-2 {
    width:85%;
    height:100vh;
    position:absolute;
    top:140%;
    left:50%;
    transform:translate(-50%, -50%);
  }
  
  .main-content-image-2 {
    width:22vh;
    float:right;
    margin-top:5%;
    margin-right:7%;
  }
  
  
  .page-3 {
    width:100%;
    height:100vh;
    position:absolute;
    top:200%;
    left:50%;
    transform:translate(-50%, -50%);
  }
  
  .button {
    width:33vw;
    border:1px solid black;
    color:rgb(0, 0, 0);
    text-align:center;
    padding:4vh;
    font-family:arial;
    text-transform:uppercase;
    font-size:1rem;
    font-weight:300;
    letter-spacing: .5vh;
    border-radius: 10vh;
    position:absolute;
    top:42%;
    left:50%;
    transform:translate(-50%, -50%);
  }
  
  #overlay-1 {
    display:none;
    background-color: black;
    width:100%;
    height:70vh;
    top:0;
    margin-top:-50vh;
    position:fixed;
    z-index:100;
    pointer-events: none;
  }
  
  #overlay-2 {
    display:none;
    background-color: black;
    width:100%;
    height:70vh;
    bottom:0;
    margin-bottom:-50vh;
    position:fixed;
    z-index:100;
    pointer-events: none;
  }
  
  .content-2 {
    z-index:10000;
    width:100%;
    height:100vh;
  }
  
  #arrow {
    display:none;
    z-index:100000;
    width:17vh;
    filter:invert(90);
    left:5%;
    top:5%;
    position:absolute;
  }

  #content-2-image {
    display:none;
    z-index:999;
    opacity:1;
    width:30vh;
    position:absolute;
    margin-left:45%;
    margin-top:0%;
    }
  
  #about-page {
    display:none;
    z-index:10000;
    margin-left:23%;
    bottom:65%;
    position:absolute;
    margin-left:10%;
  }
  
  h4 {
    color:rgb(228, 224, 224);
    font-family: "CosiTimes";
    font-weight:100;
    font-size:7rem;
    width:100%;
    line-height: 15vh;
    letter-spacing: .2vh;
  }
  
  span {
    color:rgb(228, 224, 224);
    font-weight:100;
    font-size:1rem;
    width:50%;
    margin-top:5vh;
    line-height: 3vh;
    letter-spacing: .2vh;
    font-family:arial;
    position:absolute;
  }

}


#overlay-3 {
  display:none;
  background-color: black;
  width:100%;
  height:100vh;
  bottom:0;
  margin-left:-100vw;
  position:fixed;
  z-index:10;
  pointer-events: none;
}

#contact-page {
  display:none;
  z-index:100;
  width:100%;
}


.content-3{
  height:100vh;
  width:100%;
  position:absolute;
  z-index:1000;
  top:80%;
  left:50%;
  transform: translate(-50%, -50%);
}


form {
  z-index:10000;
  max-width: 420px;
  margin: 50px auto;
  right:0%;
  margin-right:20%;
  position:absolute;
}

.feedback-input {
  color: rgb(103, 103, 103);
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border: 1px solid #a5a5a5;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid #545454;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type="submit"] {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;
  background: #393939;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: rgb(161, 161, 161);
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
  font-weight: 400;
}
[type="submit"]:hover {
  background: #1f1f1f;
}

#send-message {
  display:none;
  z-index:100000;
  color:white;
  width:100%;
  height:100vh;
  position:absolute;
  left:10%;
  font-family: "CosiTimes";
  font-weight:500;
  font-size:11vh;
  line-height: 14vh;
  letter-spacing: .2vh;
  pointer-events: none;
}

#arrow-two {
  display:none;
  z-index:100000;
  width:20vh;
  filter:invert(90);
  left:5%;
  top:-20%;
  position:absolute;
}


#overlay-4 {
  display:none;
  background-color: black;
  width:100%;
  height:100vh;
  bottom:0;
  margin-left:-100vw;
  position:fixed;
  z-index:10;
  pointer-events: none;
}

#services-page {
  display:none;
  z-index:100;
  width:100%;
}


.content-4{
  height:100vh;
  width:100%;
  position:absolute;
  z-index:1000;
  top:70%;
  left:50%;
  transform: translate(-50%, -50%);
}


#services-title {
  display:none;
  z-index:100000;
  color:white;
  width:100%;
  height:100vh;
  position:absolute;
  top:5%;
  left:35%;
  font-family: "CosiTimes";
  font-weight:500;
  font-size:7rem;
  line-height: 12vh;
  letter-spacing: .2vh;
  pointer-events: none;
}

#service-button {
  margin-top: 7%;
  padding:2vh 4vh 2vh 4vh;
  background-color: rgba(0, 0, 0, 0);
  text-decoration: none;
  border: 1px solid white;
  color:white;
  border-radius: 50vh;
  letter-spacing: 0.3vh;
  transition: .5s;
}
#service-button:hover {
  cursor:pointer;
  background-color: rgba(140, 140, 140, 0.09);
  border: 1px solid rgb(137, 137, 137);
  color:rgb(137, 137, 137);
  transition: .5s;
}



#arrow-three {
  display:none;
  z-index:100000;
  width:20vh;
  filter:invert(90);
  left:5%;
  top:-10%;
  position:absolute;
}

.items-container {
  display:flex;
  margin-left:20%;
  margin-top:10%;
  position: absolute;
}
.item-one {
  display:flex;
}

.item-title {
  padding-top:10px;
  font-size:2rem;
  color:white;
  position:relative;
}
.item-desc {
  width:45%;
  font-size:1rem;
  color:rgb(160, 160, 160);
  position:relative;
}

.services-image-one {
  width:45%;
  position:relative;
}