
@media only screen and (min-width:1200px) and (max-width: 1800px) {

  #main-border {
    left: 62%;
        }
        .logo-wrapper {
          position: absolute;
          top: 45.5%;
          left: 51.2%;
          transform: translate(-50%, -50%);
      }
      .navbar{
        background: #0b0a0a;
        position: fixed;
        height: 100%;
        width: 41vh;
        z-index: 10000;
        top: 0;
        left: 0;
        padding:5vh;
    }
    
    }  


@media only screen and (min-width:200px) and (max-width: 1000px) {


#myVideo {
 display:none;
      }
    
#main-border {
display:none;
      }
    
    .logo-over {
        font-family: 'Satoshi', sans-serif;
        font-size: 2.2vh;
        font-weight: 500;
        letter-spacing: 1.3vh;
        text-transform: uppercase;
        color:#b2b6a6;
        position: absolute;
        top: 51%;
        left:50%;
        transform: translate(-50%, -50%);
    }
    .logo-under {
        font-family: 'Satoshi', sans-serif;
        font-size: 2.2vh;
        font-weight: 500;
        letter-spacing: 1.3vh;
        text-transform: uppercase;
        color:#b2b6a6;
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .circle-logo {
        display:none;
    }
    .circle-logo2 {
        display:none;
    }
    .circle-logo3 {
    display:none;
    }
    
    .info {
        border-bottom: 1px solid #b2b6a6;
        padding-bottom: 10px;
        text-transform: uppercase;
        line-height: 0vh;
        letter-spacing: 0.8vh;
        font-weight: 400;
        font-size: 0vh;
        position: absolute;
    }
    
    .info-design {
        font-family: 'Cabinet Grotesk', sans-serif;
        position:relative;
        text-transform: uppercase;
        letter-spacing: 0.2vh;
        line-height: 8.5vh;
        font-weight: 800;
        font-size: 10vh;
    }
    
    .navbar{
        background: #0b0a0a;
        position: fixed;
        height: 25vh;
        width: 100%;
        z-index: 10000;
        top: 0;
        left: 0;
        padding:5vh;
    }
    
    .active {
        color:#b2b6a6;
        margin-left:0vh;
    }
    .square {
        display:none;
    }
    .square-2 {
   display:none;
    }


/* About */
.about-h1 {
    color:#b2b6a6;
    font-size:4vh;
    font-family: 'Satoshi', sans-serif;    
    font-weight: 600;
    line-height: 11vh;
}

.hashtags {
    display:none;
}

.socials {
    display:flex;
    justify-content: space-evenly;
    color:#95998b;
    width:100%;
    position:absolute;
    left:0%;
    bottom:0%;
}


/* Portfolio */
.back-arrow-motion-design {
 display:none;
  }

  .portfolio-content {
    z-index:10000;
    width:100%;
    font-size: 2.5vh;
    letter-spacing: 0.3vh;
    position: absolute;
    top: 58%;
    left: 55%;
    transform: translate(-50%, -50%);
  }
  
  .web-design {
    z-index:1000;
    border-radius: 5px;
    padding:0.7vh;
    margin-bottom:10px;
    width:90%;
    height:10vh;
    border:1px solid #95988c;
    color:#b2b6a6;
  }
  
  .graphic-design {
    border-radius: 5px;
    padding:0.7vh;
    width:90%;
    height:10vh;
  }
  
  .motion-design {
    border-radius: 5px;
    padding:0.7vh;
    margin-top:10px;
    width:90%;
    height:10vh;
    border:1px solid #95988c;
    color:#b2b6a6;
  }

  .music {
    border-radius: 5px;
    padding:0.7vh;
    margin-top:10px;
    width:90%;
    height:10vh;
    border:1px solid #95988c;
    color:#b2b6a6;
  }


/* Motion design */ 
  .motion-design-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200%; 
      height:100%;
    }
  
  .back-motion-design {
display:none;
  }
  
  .back-arrow-motion-design {
display:none;
  }
  

/* Web design */ 
.back-arrow {
display:none;
}
#main-border {
    border:none;
  }
  .navbar{
border-right:none;
}

.web-design-content {
    z-index:1000;
    color:#b2b6a6;
    width:100%;
    height:100%;
    position: absolute;
    top: 85%;
    left: 53%;
    transform: translate(-50%, -50%);
}

.web-design-h1 {
    border-bottom: 1px solid #b2b6a6;
    padding-bottom: 8px;
    font-family: 'Satoshi', sans-serif;
    position:absolute;
    text-transform: uppercase;
    letter-spacing: 0.6vh;
    font-weight: 500;
    font-size: 2.3vh;
    position: absolute;
    text-align: right;
    top: 0%;
    left:50%;
    transform: translate(-50%, -50%);
}

h2 {
    z-index:1000;
    float:left;
    letter-spacing: 0.8vh;
    font-weight: 800;
    font-size: 4.1vh;
    margin-left:2%;
    transition:none;
}
.h2-thinner {
    z-index:1000;
    letter-spacing: 0.7vh;
    font-weight: 100;
    font-size: 4.1vh;
    transition:none;
}

.web-design-1 {
position: relative;
margin-top: 23%;
}

.web-design-1-number {
    font-family: 'Satoshi', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.4vh;
    font-weight: 400;
    font-size: 2.6vh;
    line-height: 3.5vh;
    margin-left:2%;
}

.web-design-1-info {
    font-family: 'Satoshi', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.8vh;
    font-weight: 400;
    font-size: 2.3vh;
    margin-top:11%;
    margin-right:2%;
    text-align: right;
    padding-bottom:7vh;
}

.web-design-1, 
.web-design-2,
.web-design-3,
.web-design-4,
.web-design-5,
.web-design-6,
.web-design-7,
.web-design-8,
.web-design-9,
.web-design-10 {
    z-index:1000;
    width:85%;
    margin-left:5%;
    }


/* Graphic Design */
.back-arrow-motion-design {
display:none;
  }
  .graphic-design-content {
      overflow:hidden;
  }
  
  .gallery-1 {
    display:block;
      position: relative;
      margin-top:60%;
      left: 10%;  
  }
  
  .gallery-1 h3 {
      padding-bottom:1vh;
      font-size:2.5vh;
      letter-spacing: 0.2vh;
      margin-left:0vw;
  
  }

  .gallery-1 p {
    display:none;
  }
  
    div.gallery img {
      border-left:1px solid#b2b6a6;
      padding:0.1vh;
      float:left;
      max-width: 10vh;
    }
  
    #last-image{
     display:none;
    }
    
    .gallery-last {
        padding-bottom:50vh;
    }
  

/* Album */
.back-arrow-motion-design {
 display:none;
}

.wrapper {
    overflow-x:hidden;
    position:relative;
}

#container {
    display:flex;
    width:100%;
    height:100vh;
}

svg {
display:none;
}

.image-1 h3 {
display:none;
}

.image-1 {
    width:100%;
    height:0 auto;
    padding-right:5vh;
    margin-left:15%;
}

.image-1 img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:300px; 
    height:300px;
  }

.image-2 {
    width:100%;
    height:0 auto;
    padding-right:5vh;
    margin-left:15%;
}

.image-2 img {
    position: relative;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width:300px; 
    height:300px;
  }

  .image-3 {
    width:100%;
    height:0 auto;
    padding-right:0vh;
    margin-left:15%;
}

.image-3 img {
    position: relative;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    width:300px; 
    height:300px;
  }

  .next-button {
    width:100vw;
    height:100vh;
}

.next {
    z-index:1000;
    position: relative;
    top: 50%;
    left: 65%;
    transform: translate(-50%, -50%);
    font-family: 'Satoshi', sans-serif;
    font-size:5vh;
    color:#b2b6a6;
  }

  .row-1 {
    width:100%;
    margin-left:-30%;
    margin-top:-15%;
    position:relative;
  }
  .row-2 {
    width:100%;
    margin-left:-30%;
    margin-top:-55%;
    position:relative;
  }
  .row-3 {
    width:100%;
    margin-left:-30%;
    margin-top:-40%;
    position:relative;
  }
  .row-4 {
    width:100%;
    margin-left:-30%;
    margin-top:-40%;
    position:relative;
  }

  .row-5 {
    width:100%;
    margin-left:-30%;
    margin-top:-105%;
    position:relative;
  }





}





/* Phone screens */
@media only screen and (min-width:200px) and (max-width:700px) {
.nav {
  display:flex;
  gap:7vw;
  font-family: 'Satoshi', sans-serif;
  line-height: 6.5vh;
  z-index: 1;
  position:absolute;
  font-size: 2.8vh;
  font-weight:500;
  margin-left:5%;
  margin-top:23%;
}

.about-content {
  width:85%;
  position:absolute;
  right:0%;
  bottom:23%;
}
.about-content p {
  color:#b2b6a6;
  font-size:2.6vh;
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  width:80%;
}


iframe {
  border: 0;
  width: 40%; 
  height:30%;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.row-1, .row-2, .row-3, .row-4, .row-5 {
  display:block;
  padding-right:9vh;
  right:-15%;
  margin-top:30px;
  z-index:1000;
 }

 .row-2 {
  margin-top:-130px;
 }
 .row-5 {
  margin-top:-310px;
 }

#container {
  width:400vw;
}



}



/* Ipad screens */
@media only screen and (min-width:700px) and (max-width:1200px) {
  .nav {
    display:flex;
    gap:7vw;
    font-family: 'Satoshi', sans-serif;
    line-height: 6.5vh;
    z-index: 1;
    position:absolute;
    font-size: 2.6vh;
    font-weight:500;
    margin-left:3%;
    margin-top:16%;
  }

  .about-content {
    width:85%;
    position:absolute;
    right:0%;
    bottom:30%;
}
.about-content p {
  color:#b2b6a6;
  font-size:2.4vh;
  font-family: 'Satoshi', sans-serif;
  font-weight: 400;
  width:80%;
}

  
iframe {
  border: 0;
  width:720px;
  height:480px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}



  }